@model GastroHub.Models.Recipe

@{
    ViewData["Title"] = "Detalji recepta";
}

<div class="container">
    <h2>@Model.Name</h2>

    <div>
        <strong>Sastojci:</strong>
        <p>@Model.Ingredients</p>
    </div>

    <div>
        <strong>Upute:</strong>
        <p>@Model.Instructions</p>
    </div>

    <div>
        <strong>Upute:</strong>
        <p>@Model.Category</p>
    </div>
    
    <div>

        <strong>Vrijeme slaganja:</strong> 
    <p>@Model.PreparationTime minuta</p>
</div>


    @if (string.IsNullOrEmpty(@Context.Session.GetString("User")))
    {
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Natrag</a>
    }
    else
    {
        <!-- Ako je korisnik prijavljen, prikazujemo gumb "Nazad na moje recepte" -->
        <a href="@Url.Action("MyRecipes", "Account")" class="btn btn-secondary">Nazad na moje recepte</a>
    }
